 Требования к приложению имеют очень высокую важность с точки зрения тестирвоания ПО.
 Требования должны удовлетворять критериям качества:
 
 1. КОРРЕКТНОСТЬ
Требование должно четко указывать на то, что должно выполнять приложения

 2. НЕДВУСМЫСЛЕННОСТЬ
Требование является недвусмысленным тогда, когда его можно однозначно интерпретировать.
Если формулировка требований может по-разному интерпретироваться разработчиками, тестировщиками,
пользователями и другими участниками проекта, вполне может оказаться, что построенная система
будет полностью отличаться от того, что представлял себе пользователь. 

 3. ПОЛНОТА
Часто в требованиях забывают описать валидации на поля или единицы измерения в каких будет показываться
значения или даже целые секции, которые могут быть пропущены по невнимательности. 
Помимо этого, в требованиях должны быть полные ссылки и подписи всех рисунков, таблиц и диаграмм
набора требований, а также определение всех терминов и единиц измерения.

 4. НЕПРОТИВОРЕЧИЕ
Множество требований является внутренне непротиворечивым тогда, когда ни одно его подмножество,
состоящее из отдельных требований, не противоречит другим подмножеством.

 5. УПОРЯДОЧЕННОСТЬ ПО ВАЖНОСТИ И СТАБИЛЬНОСТИ
В высококачественном наборе требований заинтересованные лица упорядочивают отдельные требования
по их важности для клиента и стабильности. Этот процесс упорядочения особенно важен для управления
масштабом. Если ресурсы недостаточны, чтобы в пределах выделенного времени и бюджета реализовать 
все требования, очень полезно знать, какие требования являются не столь уж обязательными, а какие
пользователь считает критическими.

 6. ПРОВЕРЯЕМЫМИ
Требования должны быть составлены таким образом чтобы тестировщики буквально черпали от туда тест кейсы,
на каждый хороший пункт из требований обычно можно написать несколько тест кейсов, которые 
покроют данный пункт требований.

 7. МОДИФИЦИРУЕМОСТЬ
Множесто требований является модифицируемым тогда, когда его структура и стиль таковы, что любое изменение
требований можно произвести просто, полно и согласованно, не нарушая существующей структуры 
и стиля всего множеста.

 8. ТРАССИРУЕМОСТЬ
Требования в целом является трассируемым тогда, когда ясно происхождение каждого из составляющих его 
елементарных требований и существует механизм, который делает возможным обращение к этому требованию при 
дальнейших действиях по разработке. Каждое требование должно иметь свой уникальный номер или id.  

 9. ПОНИМАЕМЫМ
Множество требований является понимаемым, если пользователи и разработчики способны прийти к полному 
согласию относительно отдельных требований и общих функциональных возможностей, подразумеваемых данным множеством.
 